# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# Production/Build outputs
build/
dist/

# Debug and Diagnostic logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log
storage-debug.txt
upload-error.txt
db-user-debug.txt
db_error.txt

# Local environment variables and secrets (NEVER COMMIT SECRETS!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.example

# IDEs and editors configuration files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Operating system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
